<!DOCTYPE html>
<html>
<head>
  <title>WebApp500px</title>
  <script src="https://unpkg.com/masonry-layout@4.0/dist/masonry.pkgd.min.js"></script>

  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
